.calculator-button{
  color: #fff;
  border: none;
  border-radius: 6px;
  width: 100%;
  opacity: 0.9;
  height: 42px;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;

  &:hover{
    opacity: 1;
  }

  &:disabled{
   opacity: 0.5;
    cursor: default;
     &:hover{
     opacity: 0.5;
  }
  }
}