.calculator-item__input label {
  font-size: 17px;
}

.calculator-checkbox{
  appearance: none;
  background-color: #fff;
  margin: 0 6px 0 0;
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  border-radius: 6px;
  vertical-align: bottom;

  &:checked {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 14px;

    &::after{
      content: "▪";
    font-size: 44px;
    }
  }
}