@import "variables";
@import "components/UI/CalculatorButton";
@import "components/UI/CalculatorCheckbox";
@import "components/UI/CalculatorInput";
@import "components/UI/CalculatorSelect";
@import "components/CalculatorTabs";
@import "components/CalculatotForm";


.calculator {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: 2.95fr 1fr;
  column-gap: 30px;
  align-items: start;
  margin-bottom: 35px;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }


  &__right {
    margin-top: 100px;
  }
}