@import 'theme-red/variables';
@import 'theme-red/components/UI/CalculatorButton';
@import 'theme-red/components/UI/CalculatorCheckbox';
@import 'theme-red/components/UI/CalculatorInput';
@import 'theme-red/components/UI/CalculatorSelect';
@import 'theme-red/components/CalculatorTabs';
@import 'theme-red/components/CalculatotForm';

.calculator {
	font-family: 'Roboto', sans-serif;
	display: grid;
	grid-template-columns: 2.95fr 1fr;
	column-gap: 30px;
	align-items: start;
	margin-bottom: 35px;

	@media (max-width: 1024px) {
		grid-template-columns: 1fr;
	}
}
